@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


.pembalap .card {
    width: 300px;
    
}

.pembalap .row a {
    text-decoration: none;
}


.pembalap-thumbnail .pembalap-nama {
    color: #055160;
    font-weight: 700;
    font-size: 18px;
}

.pembalap-thumbnail .divisi-nama {
    color: #0AA2C0;
    font-size: 14px;
}

.pembalap-thumbnail .jabatan-nama {
    color: #EFBC6B;
    font-weight: 700;
    font-size: 18px;
}




.small-card {
    width: auto;
    height: 150px;
}

.small-card .table {
    border-width: 1px;
    width: 50%;
    max-width: 150px; /* Sesuaikan dengan ukuran yang diinginkan */
}


/*
---------------------------------------------
footer page
---------------------------------------------
*/

footer {
    position: relative;
    width: 100%;
    background: #f11717;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 120px;
}

footer .social_icon,
footer .footer_menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .footer_menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #1c2020;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .footer_menu li a {
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

footer .footer_menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave2 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

section.meetings-page {
    background-image: url(meetings-page-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 0px;
}

.belakang {
    background: url(meetings-page-bg.jpg) no-repeat center center;
    background-size: cover;
    padding-top: 5%;
    padding-bottom: 40%;
  }